
<div class=“container”>
 <div class=“banner”>
   <h2><%= @superpower.name  %></h2>
 </div>
 <br>
 <p><%= @superpower.description %></p>
 <p><%= @superpower.address %></p>
 <p><%= @superpower.price %></p>
</div>
<%= link_to “Delete superpower”, superpower_path(@superpower), method: :delete, data: { confirm: ‘are you sure?’ }, class: “btn btn-info” %></p>
<h4><%= link_to “Back to the list”, superpowers_path, class: “btn btn-primary” %></h4>
