<div class="container">
  <div class="confirmation">

<h3>Your booking for a superpower</h3>

<h2><%=@booking.superpower.name%></h2>
  <%= cl_image_tag @booking.superpower.photo, height: 300, width: 400, crop: :fill %>
  <br>
  <br>
  <p>From <%= @booking.start_date%> to <%= @booking.end_date%></p>
  <p>Price per day:<%= @booking.superpower.price%> euros</p>
  <p>Total price: <%=@booking.total_price%> euros</p>



<%= link_to "Confirm booking", superpowers_path, class: "btn btn-primary btn-block" %>

</div>
</div>
