<div class="container">
  <div class="confirmation">

<h3 class="confirmation-h3">Your booking for a superpower</h3>

<h2><%=@booking.superpower.name%></h2>
<div class="confirmation-card">
  <%= cl_image_tag @booking.superpower.photo, height: 300, width: 400, crop: :fill %>
    <br>
    <br>
    <div>
      <div class="confirmation-list">
        <ul>
          <li class="bold">From <%= @booking.start_date%> to <%= @booking.end_date%></li>
          <li>Price per day: <%= @booking.superpower.price%> euros</li>
          <li>Total price: <%=@booking.total_price%> euros</li>
        </ul>
      </div>
      <%= link_to "Confirm booking", accept_path, method: :patch, action: :accept_booking, :data => {:confirm => 'Congratulations, you have succesfully booked a superpower!'}, class: "btn btn-primary btn-block" %>
    </div>
<!-- <input type="button" value="submit" onclick= <%= "alert('Congratulations, you have succesfully booked a superpower!')" %>> -->
    </div>
  </div>
</div>


<!--
<div class="alert alert-success" role="alert">
Congratulations, you have succesfully booked a superpower!</div> -->

