<div class="container-dashboard">

  <div class="superpowers">
    <h2>My Superpowers</h2>
      <% if @superpowers.nil? %>
      <%= link_to "Create a superpower", new_superpower_path %>
      <% else %>
        <% @superpowers.each do |superpower| %>

      <div class="card-superpower">
        <h4><%= link_to superpower.name, superpower_path(superpower) %></h4>

          <% if superpower.photo.url %>
          <%= cl_image_tag superpower.photo %>
          <% end %>

          <div class="descp">


            <p><%= superpower.description %></p>

            <p><%= superpower.price %>€/day</p>

            <div class="edit-delete">
              <ul>
                 <li><%= link_to "Edit", edit_superpower_path(superpower), class: "btn btn-outline-primary buttoneditfordashboard" %></li>
              <li><%= link_to "Delete", superpower_path(superpower), method: :delete, data: { confirm: "are you sure?" }, class: "fa fa-trash destroy_dose buttondeletefordashboard" %></li>
              </ul>

            </div>


          </div>

        </div>
        <% end %>
      </div>
      <% end %>




    <div class="bookings">
      <h2>My Bookings</h2>
        <% if @bookings.nil? %>
        <%= link_to "Hey, do you want to rent a super power?", superpowers_path %>
        <% else %>
        <% @bookings.each do |b| %>
        <div class="card-booking">
          <h4><%=b.superpower.name %></h4>
          <%= cl_image_tag b.superpower.photo, height: 300, width: 400, crop: :fill %>
          <br>
          <br>
          <p>From <%= b.start_date%> to <%= b.end_date%></p>
          <p>Price per day: <%= b.superpower.price%> €</p>
          <p>Total price: <%= b.total_price %> €</p>
          <%= link_to "Delete", booking_path(b), method: :delete, data: { confirm: "are you sure?" }, class: "fa fa-trash destroy_dose" %>
          </div>
        <% end %>
        <% end %>
      </div>
    </div>
